# MediKiosk Development Environment Example
POSTGRES_DB=medikiosk
POSTGRES_SUPERUSER=medikiosk_owner
POSTGRES_PASSWORD=devonly_change_me
POSTGRES_PORT=5432
APP_DB_PASSWORD=medikiosk_app

REDIS_PORT=6379

RABBITMQ_USER=medikiosk
RABBITMQ_PASSWORD=devonly_change_me
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=devonly_change_me
KEYCLOAK_PORT=8080

OPA_PORT=8181

MINIO_ROOT_USER=medikiosk
MINIO_ROOT_PASSWORD=devonly_change_me
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

CLAMAV_PORT=3310

OTLP_GRPC_PORT=4317
OTLP_HTTP_PORT=4318
PROMETHEUS_PORT=9090
GRAFANA_PASSWORD=devonly_change_me
GRAFANA_PORT=3000

API_PORT=8000
AI_GATEWAY_PORT=8100
PUBLIC_API_BASE_URL=http://localhost:8000
PUBLIC_OIDC_ISSUER=http://localhost:8080/realms/medikiosk
